.editor {
    display: flex;
    justify-content: space-between;
    border-radius: 12pt;
    margin-left: 20vw;
    margin-right: 20vw;
    border: #232323 4px solid;
    max-width: 60%;
    max-height: 60vh;
    overflow: hidden;
}

.editor > * {
    max-width: 50%;
    width: 50%;
    height: 100%;
    border: none;
}
